# Indexing

In [1]:
Employee_Data = ['Ali' , 12500 , 'Google' , 5]

In [11]:
print(Employee_Data[0],"is working in",Employee_Data[-2],"for",Employee_Data[3],"years and his salary is",Employee_Data[-3],)

Ali is working in Google for 5 years and his salary is 12500

In [12]:
StudentData =['Ahmed','Bilal','Goverment College University','Computer Science','BS',50000,'28-Jan-2020','05-Feb-2020']

In [20]:
print("Hello",StudentData[0])
print("Dear",StudentData[-8],"Your Apllication for Admission in",StudentData[4],StudentData[3],"in",StudentData[-6])
print("You have to submit your fee before",StudentData[6])
print("Your Classes will start from",StudentData[-1])
print("Hello",StudentData[1])
print("Dear",StudentData[-8],"Your Apllication for Admission in",StudentData[4],StudentData[3],"in",StudentData[-6])
print("You have to submit your fee before",StudentData[6])
print("Your Classes will start from",StudentData[-1])

Hello Ahmed
Dear Ahmed Your Apllication for Admission in BS Computer Science in Goverment College University
You have to submit your fee before 28-Jan-2020
Your Classes will start from 05-Feb-2020
Hello Bilal
Dear Ahmed Your Apllication for Admission in BS Computer Science in Goverment College University
You have to submit your fee before 28-Jan-2020
Your Classes will start from 05-Feb-2020

# Slicing

In [21]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

# Positive Slicing

In [28]:
cities[0:5]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar', 'Quetta']

In [27]:
cities[3:6]

['Peshawar', 'Quetta', 'Sahiwal']

In [29]:
cities[5:8]

['Sahiwal', 'Rawalpindi', 'Sialkot']

# Negative Slicing

In [31]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [46]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Update Lists

# Add values to this list using append

In [47]:
StudentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [48]:
StudentData.append('20-Feb-2019')

In [49]:
print(StudentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20-Feb-2019']

In [50]:
StudentData.append(8)

In [51]:
print(StudentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20-Feb-2019', 8]

# Use insert method to insert at specific index

In [55]:
StudentData.insert(4,25000)

In [53]:
StudentData.insert(1,'Muhammad Iqbal')

In [72]:
print(StudentData)

[91.24, 25000, 'Computer Science', 25000, 5, 'University of Agriculture', '20-Feb-2019', 8]

# Update list using list update method:

In [106]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [107]:
studentData.insert(0,'ZohaibAli')

In [108]:
studentData.remove('Ali Raza')

In [110]:
print(studentData)

['ZohaibAli', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [111]:
studentData.insert(4,7)

In [112]:
studentData.remove(5)

In [113]:
print(studentData)

['ZohaibAli', 22, 91.24, 'Computer Science', 7, 'University of Agriculture']

# Remove values from list using remove method

In [115]:
studentData.remove('Computer Science')

In [116]:
studentData.remove(91.24)

In [118]:
print(studentData)

['ZohaibAli', 22, 7, 'University of Agriculture']

# Remove using pop method

In [119]:
studentData.pop(3)

'University of Agriculture'

# Multidimensional list tasks

In [121]:
employeeData = [["Ali", 35000, "Software Engineer"],["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]